extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")

            .col-md-7 
                h1 #{pagina}

                blockquote En nuestra Agencia de viajes , creemos que cada viaje cuenta una historia y cada destino esconde experiencias inolvidables. Somos una agencia de viajes dedicada a transformar tus sueños en aventuras reales, ofreciéndote no solo destinos, sino momentos que atesorarás para siempre.

                p Nacimos con la misión de acercar a las personas al mundo y facilitar experiencias únicas. Nos especializamos en crear itinerarios personalizados, adaptados a tus deseos, ya sea una escapada romántica, unas vacaciones familiares o una aventura inolvidable con amigos.

                p Nuestro equipo está formado por apasionados viajeros con amplia experiencia en el sector, que seleccionan cuidadosamente los mejores destinos, alojamientos y actividades. Nos comprometemos a ofrecerte un servicio de calidad, atención al detalle y, sobre todo, un viaje sin preocupaciones.

                p Déjanos ser tus compañeros de viaje y juntos descubramos el mundo, paso a paso. Porque viajar no solo es moverse de un lugar a otro, es vivir, aprender y recordar. ¡Prepárate para tu próxima aventura con nosotros!
                
                
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Te ofrecemos viajes seguros, personalizados y de calidad. Nos encargamos de cada detalle para que disfrutes con total tranquilidad. Tu aventura, nuestra misión
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono-destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Seleccionamos cuidadosamente destinos únicos y de alta calidad para ofrecerte experiencias inolvidables. Trabajamos con los mejores alojamientos y actividades para garantizar que cada viaje supere tus expectativas. Descubre lugares extraordinarios con nosotros.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono-precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Ofrecemos los mejores destinos al mejor precio, sin comprometer la calidad. Nos esforzamos por brindarte opciones accesibles y promociones exclusivas, para que viajar sea más fácil y económico. Tu viaje soñado al precio justo. 

                